[Desktop Entry]
Version=1.0
Type=Application
Name=Inspection System using Digital Image Processing
Name[th]=Inspection System using Digital Image Processing
Comment=Inspection System using Digital Image Processing
Comment[th]=Inspection System using Digital Image Processing
Exec=bash -c "cd /home/nvidia/Desktop/final_boss/backupsdcard/final && ./run.sh"
Icon=/home/nvidia/Desktop/final_boss/backupsdcard/final/Logo.png
Path=/home/nvidia/Desktop/final_boss/backupsdcard/final
Terminal=false
Categories=Development;
StartupNotify=true
NoDisplay=false
MimeType=
Keywords=detection;ocr;bottle;camera;modbus;
X-GNOME-Autostart-enabled=false
X-KDE-autostart-enabled=false
